p {
	text-align: center;
}
div {
	max-width: 1500px;
	margin: auto;
}

#header {
	margin-left:20%;
	float: left;
	line-height: 50px;
	width: 50%;
	}
#squiggly {
	width: 50px;
	height: 50px;
	}
.hellobutton {
	border-style: solid;
	border-color: #8257F2;
	border-radius: 40px;
	border-width: 1px;
	display: inline-block;
	color: #8257f2;
	padding: 0px 20px;
	line-height: 50px;
	margin: 0px;
	}
.center {
	text-align: center;
	width: 100%;
	margin-bottom: 0px;
	}
#profile{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	}
#computer {
	width: 500px;
	height: 300px;
	margin-bottom: 0px;
	position: relative;
	bottom:-4px;
}
.purplebox {
	background-color: #8257f2;
	color: white;
	text-align: center;
	padding: 100px 405px 150px;
	margin-top: 0px;
	border-style: solid;
	border-color: #8257f2;
	position: relative;
	}
.row:after {
	content:"";
	display:table;
	clear: both;
	background-color: white;
	position: relative;
	bottom: -30px;
}
.column{
	float: left;
	width: 20%;
	border-style: solid;
	border-color: #D3D3D3;
	border-width: 1px;
	border-radius: 5px;
	border-top: none;
	align-content: center;
}
.purpletext{
	color:#8257f2;
}
.boldfont{
	font-weight: bold;
	font-size: 14pt;
}
.projecticons {
	border-radius: 15px;
	height: 136px;
	width: 203px;
	padding: 6px; 
}
.projecticondiv {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}
.projectdivs {
	width: 270px; 
	height: 301px;
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #D3D3D3;
}
.purplelink{
	color: #8257f2;
	text-decoration: none;
}
#blackbox {
	background-color: #474747;
	color: white;
	border-style: solid;
	border-color: #474747;
	border border-radius: 5px;
}